<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="assets/todo-app.js"></script>
</head>
<body>
    
    <div id="todo-table">
        <h1></h1>
        <form >
            <input type="text" name="item" placeholder="add new ..." required>
            <button type="submit">add</button>
        </form>
        <ul>
            <% for(var i=0;i<todo.length;i++) { %>
            <li><%=todo[i].item%></li>
            <% } %>
        </ul>

    </div>
</body>
</html>